.banner {
    height: 300px;
    background-image: linear-gradient(to bottom right, #0198E1, #82CFFD);
    color: white;
    >h1 {
        color: white;
        padding-top: 50px;
    }
}

.searchIcon {
    color: #fff;
}
.searchContainer {
    width: 400px;
    margin-top: 60px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    div:last-child {
        border: solid 1px #fff;
        border-radius: 3px;
    }
    input {
        width: 350px;
        color: #fff;
    }
}
